# API
fastapi
starlette
uvicorn[standard]

# Extraction
asyncpraw

# Transformation
openai
sentence-transformers
scikit-learn
numpy

# Load
httpx

# Misc
pydantic
pydantic-settings
python-multipart
typing-extensions
supabase
